nav {
  background-color: rgb(189, 4, 4);
  overflow: hidden;
  color: white;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  cursor: pointer;
}

nav a:hover {
  background-color: white;
  color: black;
}

.order_now_btn:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
  margin-top: 3%;
}

.card1 {
  background-color: steelblue;
  padding: 2em;
  width: 10em;
  margin-left: 10%;
  height: 18em;
  box-shadow: 5px 5px 20px black;
  color: ghostwhite;
  border-radius: 2em;
}
